body{
    background-color: #203A61;
}

.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 60%;
}

.message{
    display: block;
    text-align: center;
    color: white;
    font-family: sans-serif;
}

.envelope{
    width: 16%;
}

@media (max-width:950px){
    .message{
        display: block;
    }
    .logo img{
        width: 100%;
    }
    h1{
        font-size: 125%;
    }
    .envelope{
        width: 30%;
    }
}
